<div class="teacher-container">
  <%= link_to image_tag(teacher.get_image), teacher_path(teacher), class: "teacher" %>
  <div class="teacher__detail">
    <div class="teacher__age">
      <%= teacher.get_age_for_index %>
    </div>
    <div class="teacher__name">
      <%= teacher.name %>
    </div>
    <div class="teacher__profile">
      <%= teacher.get_initial_50 %>
    </div>
  </div>
</div>
