@mixin box-shadow() {
  box-shadow: rgba(225, 225, 255, 3) 0 1px 0;
}

@mixin border-bottom() {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@mixin text-shadow() {
  text-shadow: 1px -1px rgba(255, 255, 255, 1)
}

@mixin ts-000($op : .4){
  text-shadow: 1px -1px rgba(0, 0, 0, $op);
}

@mixin gradient-top-lighten($color:#666, $lighten:10%){
  background-color: $color;
}

@mixin button($color: #48B1F2, $font-size: 40px, $text-color: white) {
  display: block;
  background-origin: border-box;
  position: relative;
  font-weight: bold;
  @include ts-000(.1);
  @include gradient-top-lighten($color, 5%);
  border-radius: 4px;
  color: rgba($text-color, .9);
  text-align: center;
  font-size: $font-size;
  padding: 0 ($font-size * 2);
  height: $font-size * 3;
  line-height: $font-size * 3;
  i {
    font-size: 130%;
    margin-right: 5px;
    color: rgba($text-color, .5);
  }
  &:hover {
    @include gradient-top-lighten(lighten($color, 5%), 5%);
    text-decoration: none;
    color: $text-color;
    i {
      color: $text-color;
    }
  }
  &:active {
    @include gradient-top-lighten($color, 5%);
    top: 1px;
  }
}

$base-color: #EEE;
$color: #48B1F2
